<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}\internal-nlog-AspNetCore.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="MMLogs" fileName="${basedir}\Logs\${shortdate}.log">
			<layout xsi:type="CSVLayout" delimiter="|">
				<header>DATE,LEVEL,LOGGER,MESSAGE</header>
				<column name="Date" layout="${longdate}" />
				<column name="Level" layout="${level:uppercase=true}" />
				<column name="Logger" layout="${logger}" />
				<column name="Message" layout="${message} ${exception:format=tostring} ${stacktrace}" />
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="MMLogs" />
	</rules>
</nlog>